.chapters-container {float: left;overflow:hidden;}
.chapters-container .search {background:#f5f5f5;}
.chapters-container .search {margin-top:5px;}
.chapters-container .search {font-size:33px;}
.chapters-container .search form {border: 1px solid #AAA;height: 44px;padding:5px;position:relative;}
.chapters-container .search label {left: 5px;top:8px;position:absolute;text-shadow: 0 1px #FFF}
.chapters-container .search input {background: #FCFCFC;border: 1px solid #CCC; font-size:26px; padding:.2em;position:absolute;right: 5px; margin:0;width:600px;vertical-align:middle;border-radius:3px;}
.chapters-container .search input:hover {background: #FDFDFD;border-color: #BBB;}
.chapters-container .search input:focus {background: #FFF;border-color: #AAA;outline:none;box-shadow: 0 0 4px #07F;-moz-box-shadow: 0 0 4px #07F;-webkit-box-shadow: 0 0 4px #3AF;}

.chapters-container .global-stats {border: 1px solid #AAA;margin-top:10px;}
.chapters-container .global-stats h3 {color: #222;background:#DDD;border-bottom: 1px solid #AAA; margin:0;padding: 5px;text-shadow: 0 1px #FFF;-moz-box-shadow: 0 1px #EEE inset;}
.chapters-container .global-stats span{background:#eee;display:block;padding: 5px;}
.chapters-container .index {background:#ddd;border: 1px solid #AAA; border-top:0;}
.chapters-container .index ul {text-align:center;text-align:center;overflow:hidden;margin:0 auto;width: 757px;}
.chapters-container .index li {float:left;margin-top: -1px;}

.chapters-container .index li a, .chapters-container .index li span {color:#000;border-top: 1px solid #999;display:block;padding:8px 8px;text-shadow: 0 1px #FFF;box-shadow: 0 1px #fff inset;-moz-box-shadow: 0 1px #fff inset;-webkit-box-shadow: 0 1px #fff inset;}

.chapters-container .index li span {color:#555;cursor: default;}
.chapters-container .index li + li {border-left: 1px solid #999;}
.chapters-container .index li:first-child {border-left: 1px solid #999;}
.chapters-container .index li:last-child {border-right: 1px solid #999;}
.chapters-container .index li.current {box-shadow: 0 0 20px #fff inset;-moz-box-shadow: 0 0 20px #fff inset;-webkit-box-shadow: 0 0 20px #fff inset;}
.chapters-container .index li.current a {background: #EEE;text-decoration:none;}
.chapters-container .index li.current a:hover {color: #000; background: #EEE;text-shadow: 0 1px #FFF;box-shadow: 0 0 20px #fff inset;-webkit-box-shadow: 0 0 20px #fff inset;-moz-box-shadow: 0 0 20px #fff inset;}
.chapters-container .index li a:hover {color:#fff; background:#AAA; cursor:pointer;text-shadow: 0 -1px #777;box-shadow: 0 1px #DDD inset;-webkit-box-shadow: 0 1px #DDD inset;-moz-box-shadow: 0 1px #DDD inset;}

.chapters-container .countries {background:#ccc;}
.chapters-container .countries {width:860px; margin:auto; margin-top:10px;}
.chapters-container .countries ul {display:block; float:left; padding:10px 5px;}
.chapters-container .countries li {display:block;}
