.chapters-container {height:100%;}
.chapters-container .search {background:#f5f5f5;}
.chapters-container .search {margin:auto; padding:10px;margin-top: 10px;}
.chapters-container .search {font-size:33px;}
.chapters-container .search input {width:285px; height:40px; font-size:33px; padding:0; margin:0; vertical-align:middle;}

.chapters-container .global {background:#eee;}
.chapters-container .global { margin-top:10px;}
.chapters-container .global h3 {margin:0;}

.chapters-container .index {background:#ddd;}
.chapters-container .index ul {text-align:center; padding:10px 0;}
.chapters-container .index li {padding:0 5px;}

.chapters-container .index li {background:#fff;}
.chapters-container .index li a {color:#000;}
.chapters-container .index li.current {background:#000;}
.chapters-container .index li.current a {color:#fff;}
.chapters-container .index li:hover {color:#fff; background:#888; cursor:pointer;}
.chapters-container .index li:hover a {color:#fff;}

.chapters-container .countries {background:#ccc;}
.chapters-container .countries {width:860px; margin:auto; margin-top:10px;}
.chapters-container .countries ul {display:block; float:left; padding:10px 5px;}
.chapters-container .countries li {display:block;}

