.chapter-container {background:#eee;}
.chapter-container .top {background:#ddd;}

.chapter-container h3 {text-align:center}

.chapter-container .top {padding:10px;}
.chapter-container .top h1 { margin:0; padding:0; font-size:44px;}
.chapter-container .top span {font-size:14px;}
.chapter-container .middle {padding:10px;}
