<p>
  <b><em>Calgary, Alberta</em></b> Next was Tashtego, an unmixed Indian from Gay-Head,
  the most westerly promontory of Martha's Vineyard, where there still exists the last
  remnant of a village of red men, which has long supplied the neighboring island of
  Nantucket with many of her most daring harpooneers. In the fishery, they usually go
  by the generic name of Gay-Headers. <a class="read-more" href="">READ MORE</a>
</p>
