<% title 'Sign Up' %>
<% js 'dynamic_chapters' %>

<div class="registration-new">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= render :partial => '/shared/forms/new_member_form_fields', :locals => {:f => f, :submit => "Sign up"} %>
  <% end %>
</div>

<%= render :partial => "devise/shared/links" %>
