<%= title 'Geo:Continents' %>
<%= css 'geographic_territories/index' %>

<div class="geographic-territories-index">
  <% GeographicTerritory.continents.each do |continent| %>
  <div class="continent">
    <h2><%= link_to continent.name, geo_path(continent) %></h2>
  </div>
  <% end %>
</div>
