<div class="external_url">
  <%= external_url.type.humanize %> | 
  <%= external_url.title %> |
  <%= external_url.url %> |
  <%= link_to "Edit", edit_chapter_external_url_path(@chapter, external_url) %>
</div>
