<% title "Edit External URL for #{@chapter.region}" %>
<% css 'external_urls/edit' %>

<div class="external_urls-edit">
  <%= render :partial => '/shared/forms/external_urls', :locals => {:external_url => @external_url, :submit => "Edit External URL"} %>
</div>
