<% title "Add External URL for #{@chapter.region}" %>

<div class="external_urls-new">
  <%= render :partial => '/shared/forms/external_urls', :locals => {:external_url => @external_url, :submit => "Add External URL"} %>
</div>
