<% title 'Continents' %>
<% page_class 'one-column' %>

<%= render :partial => '/shared/map', :locals => {:geo => nil} %>

<%= content_for :page_head do %>
  <h1>Geography</h1>
  <ul class="button-bar">
    <% GeographicLocation.continents.each do |continent| %>
      <li><%= link_to continent.name, geo_path(continent) %></li>
    <% end %>
  </ul>
<% end %>

<div id="map"></div>
