
#control-container {
  @include clearfix;
  background: #EEE;
  .panel {
    display:none;
    border: 1px solid #ccc { top: 5px solid #fff; bottom: 0; }
    @include box-shadow(#F5F5F5, 0, 20px, 0, 0, inset);
    div     { padding: 10px; }
    &.user  { border-top-color: #2F5; }
    &.admin { border-top-color: #F25; }
  }
}

header {
  .auth {
    @include clearfix;
    background-color: #ECECEC;
    font-size: 11px;
    padding:5px;
    .account {
      float: right;
    }
  }
  nav {
    @include clearfix;
    border-bottom: 3px solid blue;
    a:hover { text-decoration: none; }
    .logo {
      color: #110787;
      float: left;
      font-size: 18px;
      font-style: italic;
      line-height: 60px;
      margin: 0px 80px 0px 0px;
      padding: 15px 0px 26px 0px;
      text-transform: uppercase;
      em {
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
      }
    }
    ul {
      border-top: 1px solid #8D8D8D;
      float: left;
      list-style: none;
      margin-top: 15px;
      text-align: left;
      width: 145px;
      &.main {
        margin-right: 10px;
        width: 135px;
        li a {
          color: #222;
          font-weight: bold;
        }
      }
      li {
        border-bottom: 1px solid #E2E2E2;
        text-align: left;
        margin-left: 0px;
        a {
          border-bottom: 1px solid white;
          border-top: 1px solid white;
          color: #888;
          display: block;
          font-size: 11px;
          height: 15px;
          margin: 0px;
          padding: 2px 0px 0px 3px;
          &:hover, &:active {
            background-color: #EDEDED;
            color: #110787;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#control-nav {
  position: absolute;
  right: 10px;
  top: 5px;
  a {
    padding: 6px 10px;
    background:#FAFAFA;
    border:1px solid #FFF;
    color:#333;
    text-decoration:none;
    outline:none;
    &:hover {
      background: #FFF;
      color: #000;
      text-decoration: none;
    }
    &.on {
      background: #EEE;
      border-top: 1px solid #EEE;
      color: #111;
      text-decoration: none;
      &.user { @include box-shadow(#2F5, 0, -4px, 0, 0, inset); }
      &.admin { @include box-shadow(#F25, 0, -4px, 0, 0, inset); }
    }
  }
}

#nav-container {
  margin-bottom: 0px;
  background:#EEE;
  border-bottom: 1px solid #BBB;
  @include box-shadow(#555, 0, 5px, 10px);
  @include box-shadow(#F6F6F6, 0, 19px, 0, 0 inset);
  #nav {
    background: #EAEAEA;
    background: rgba(100, 100, 100, 0.05);
    border: 1px solid #AAA;
    border-top: 0;
    height: 37px;
    margin: 0 auto;
    margin-bottom: -1px;
    overflow: visible;
    position:relative;
    width: 960px;
    z-index:998;
    li {
      float: left;
      height: 37px;
      list-style-type: none;
      margin: 0;
      border-left: 1px solid #AAA;
      &.first { border-left: 0 }
      &.last { border-right: 1px solid #AAA; }
      a {
        @include box-shadow(#FFF, 0, 1px, 0, inset);
        display: block;
        float: left;
        padding:8px 15px;
        text-decoration: none;
        vertical-align:middle;
        border-left: 1px solid #FFF;
        color: #333;
        text-shadow: 0 1px #FFF;
        &.home {
          height:37px;
          width:40px;
          text-indent:-999em;
          padding:0;
          background:url(/images/home_icon.png) no-repeat 9px center transparent;
          &:hover {
            background:url(/images/home_icon.png) no-repeat 9px center #CCC;
            background-color: rgba(1, 1, 1, 0.01);
            color: #000;
          }
        }
      }
      .submenu {
        background:#EEE;
        border:1px solid #CCC;
        border-top:1px solid #AAA;
        display: none;
        list-style: none;
        margin: 0px;
        margin-left: -999em;
        min-width: 150px;
        padding: 5px 0px;
        position: absolute;
        top: 37px;
        z-index: 999;
        @include border-bottom-radius(5px);
        li {
          background:transparent;
          border:none;
          margin:0;
          padding:0;
          float: none;
          a {
            border: 0;
            min-width: 150px;
          }
          &:hover a {
            background: #DDD;
          }
        }
      }
      &:hover, &:active, &:focus {
        a {
          color:#000;
          background:#CCC;
          background: rgba(1, 1, 1, 0.01);
        }
        .submenu {
            display: block;
            margin-left:-1px;
            opacity:1;
        }
      }
    }
  }
}
