body{font-family:Lucida Sans, Tahoma, Helvetica Nueu, Sans;}

h1{font-size:300%;}
h2{font-size:210%;}
h3{font-size:160%;}
h4{font-size:130%;}
h5{font-size:100%;} 

p{font-size:80%;line-height:140%;font-family:arial;}

ul{margin:0;padding:0;}

ul li{}

td{vertical-align:top;}

button{font-size:20px;}
