body{font-family:tahoma;}

h1{font-size:500%;margin:30px;}
h2{font-size:250%;margin:10px;}
h3{font-size:180%; margin:10px;}
h4{font-size:130%; margin:10px;}
h5{font-size:100%;margin:0 10px;} 

p{margin:10px;font-size:80%;line-height:140%;font-family:arial;}

ul{margin:0;padding:0;}

ul li{display:inline;}

td{vertical-align:top;}

button{font-size:20px;}

