/*
#nav-container {
  box-shadow:0 5px 10px #555,0 19px 0 #F2F2F2 inset;
  -moz-box-shadow:0 5px 10px #555,0 19px 0 #F2F2F2 inset;
  -o-box-shadow:0 5px 10px #555,0 19px 0 #F2F2F2 inset;
  -ie-box-shadow:0 5px 10px #555,0 19px 0 #F2F2F2 inset;
  -webkit-box-shadow:0 5px 15px rgba(100,100,100,.5),0 19px 0 #F2F2F2 inset;
}
*/

#nav {
  box-shadow:0 1px 0 #FFF inset,0 -1px #CCC;
  -webkit-box-shadow:0 1px 0 #FFF inset,0 -1px #CCC;
  -o-box-shadow:0 1px 0 #FFF inset,0 -1px #CCC;
  -moz-box-shadow:0 1px 0 #FFF inset,0 -1px #CCC;
}

/* Separators */
#nav li + li {
  border-left:1px solid #AAA;
}
#nav li:last-child {
  border-right:1px solid #AAA;
}

#nav li .submenu {
  box-shadow:0 0 1px #FFF inset, 1px 0 #FFF inset;
  -moz-box-shadow:0 0 1px #FFF inset, 1px 0 #FFF inset;
  -webkit-box-shadow:0 0 1px #FFF inset, 1px 0 #FFF inset;
}

#nav li .submenu li:last-child {
  border-bottom:1px solid #FFF;
}

#nav li .submenu li a {
  background:transparent;
}

#nav li:hover a {
  box-shadow:0 1px 0 #FFF inset;
  -moz-box-shadow:0 1px 0 #FFF inset;
  -webkit-box-shadow:0 1px 0 #FFF inset;
}

#nav li .submenu li:hover a {
  box-shadow:1px 0 0 #FFF inset,0 1px 0 #FFF inset;
  -moz-box-shadow:1px 0 0 #FFF inset,0 1px 0 #FFF inset;
  -webkit-box-shadow:1px 0 0 #FFF inset,0 1px 0 #FFF inset, 0 20px 0 #E5E5E5 inset;
}

/* ----------------------------------------------------------------------------------- */

.log-in, .sign-in {
  background:#FAFAFA;
}

.prettytable tr{
  background:#FAFAFA;
  border-bottom:1px solid #FFF;
}
.prettytable tr:nth-child(odd){
  background:#F5F5F5;
}

h2.center {
  margin:auto;
  text-align:center;
}

h1.page_title {
  color:#444;
  text-align: center;
  text-shadow: 0 1px 0 #FFF, 0 -1px 0px #000;
}

/* Generic Styles */
.grey-box-shadow {
  box-shadow:         8px 10px 10px rgba(0,0,0,0.5),inset 8px 10px 10px rgba(255,255,255,0.75);
  -o-box-shadow:      8px 10px 10px rgba(0,0,0,0.5),inset 8px 10px 10px rgba(255,255,255,0.75);
  -moz-box-shadow:    8px 10px 10px rgba(0,0,0,0.5),inset 8px 10px 10px rgba(255,255,255,0.75);
  -webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),inset 8px 10px 10px rgba(255,255,255,0.75);
}