
.prettytable {
  margin-right:-20px;
}
.prettytable tbody{
  display:block;
}
.prettytable tr{
}
.prettytable th {
  padding:6px;
}
.prettytable td{
  padding:2px;
}

/* ----------------------------------------------------------- */

#body-header {margin-bottom:5px;}

form, .log-in h2 {
  padding:10px;
}

html #body .rm {
  height:30px;
}
.field.rm input {
  width:auto;
}
.field.rm label {
  display:inline;
}
