body{font-family:tahoma;}

h1{font-size:500%;}
h2{font-size:250%;}
h3{font-size:180%;}
h4{font-size:130%;}
h5{font-size:100%;} 

p{font-size:80%;line-height:140%;font-family:arial;}

ul{margin:0;padding:0;}

ul li{display:inline;}

td{vertical-align:top;}

button{font-size:20px;}

