.button {
  padding: 3px 8px;
  background: #000;
  color: #fff;
  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  text-decoration:none;
}

.button:hover {
  background: #ccc;
  color: #000;
}

.button:active {
  background: #777;
  color: #000;
}

.button.small {
  font-size: 11px;
}

.button.medium {
  font-size: 13px;
}

.button.large {
  font-size: 15px;
  padding: 5px 10px;
}
