#debug {
  background:#000;
  color:#0F0;
  overflow:hidden;
}

#debug .header {
  padding:5px 10px;
  border-bottom: 1px solid #f00;
  text-align:center;
}

#debug .subheader {
  width:33.3%;
  border-bottom: 1px solid #f00;
  text-align:center;
  float:left;
}

#debug .console {
  width:33.3%;
  border-bottom: 1px solid #f00;
  float:left;
}

#debug .console.left {
  border-right: 1px solid #f00;
}

#debug .console.center {
  width:66.6%;
  border-left:1px solid #f00;
  border-right: 1px solid #f00;
}

#debug .console.right {
  display:none;
}
