/* Members#show */
.member-container {width:100%;, height:100%;}

.member-container form {background:#eee;}
.member-container form {padding:10px;}
.member-container form .field {margin-bottom:10px;}

.member-container .member {background:#ddd;}
.member-container .member {width: 440px; height:200px; padding:10px; margin:10px; float:left;}
.member-container .member .info {}

.member-container .chapter {background:#ddd;}
.member-container .chapter {width: 440px; height:200px; padding:10px; margin:10px; float:right;}
.member-container .chapter .info {}
