/* :partial => 'chapter/chapter' */
.chapter {overflow:hidden;margin-top:5px;margin-bottom:5px;}
.chapter div {background:#ccc;border:1px solid #AAA;height: 75px;padding:.3em;position:relative;-moz-box-shadow: 0 1px #EEE inset;-webkit-box-shadow: 0 1px #EEE inset;}
.chapter div a {color: #333;display:block;padding-bottom: 42px;text-decoration:none;text-shadow: 0 1px #EEE;}
.chapter div:hover {background: #EEE;-moz-box-shadow: 0 1px #FFF inset;-webkit-box-shadow: 0 1px #FFF inset;}
.chapter div:hover a {color: #000;text-shadow: 0 1px #FFF;}
.chapter div span.info {bottom:5px;cursor:default;left:5px;position:absolute;}
