table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: 1px solid #AAA;
}

.pretty th .current {
  padding-right:12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
