body{font-family:tahoma;}

h1{font-size:500%;margin:30px;}
h2{font-size:250%;margin:10px;}
h3{font-size:180%; margin:10px;}
h4{font-size:130%; margin:10px;}
h5{font-size:100%;margin:0 10px;} 

h2.chapter{width:100%;height:120px;}

div.canada{background:url(images/canada-shape.png) top right no-repeat;}
div.germany{background:url(images/germany-shape.png) top right no-repeat;}
div.argentina{background:url(images/argentina-shape.png) top right no-repeat;}

h2.calgary,
div.calgary{background:url(images/calgary-map.png) top left no-repeat;}

p{margin:10px;font-size:80%;line-height:140%;font-family:arial;}
.read-more{font-size:80%;}
.clear{clear:both;}

ul{margin:0;padding:0;}  
ul li{display:inline;}
td{vertical-align:top;}

button{font-size:20px;}

.chapters-container{width:1000px;margin:0 auto;}
.chapter-search-container{width:100%;-moz-border-radius:10px;text-align:center;margin-bottom:20px;padding:20px;}
.chapter-search-container label{font-size:130%;}
.chapter-search-container input{width:400px;font-size:16px;}
.chapter-container{width:300px;height:250px;background:#fff;float:left;margin:15px;}

.placeholder1{width:120px;height:80px;background:#f4f4f4;border:1px solid #ccc;}
.placeholder2{float:left;margin:5px 0px 5px 10px;width:22px;height:22px;background:#f4f4f4;border:1px solid #ccc;}
.placeholder3{width:380px;height:260px;margin:10px;background:#f4f4f4;border:1px solid #ccc;}

.new-chapter-container{width:900px;margin:0 auto;}
table.new-chapter{background:#f5f5f5;padding:20px;}
table.new-chapter input,
table.new-chapter select {font-size:20px;}
table.new-chapter select option{margin:5px;}
table.new-chapter textarea {width:100%;height:200px;font-size:12px;font-family:arial;padding:5px;}

.member-search-container{padding:20px;background:#f4f4f4;}