<% title 'Members Index' %>
<% css 'users/index' %>

<div class="users-index">
  <h2>Members</h2>
  <%= link_to "Create Member", new_user_path %>
  <% @users.each do |user| %>
    <div class="user">
      <%=raw "#{user.name} | #{user.username} | #{link_to :View, user_path(user)} | #{link_to :Edit, edit_user_path(user)}" %>
    </div>
  <% end %>
</div>
