<% title 'Members' %>
<% css 'users/index' %>

<%= form_tag users_path, :method => :get, :id => "users_search" do %>
<div id="header">
  <div id="search">
    <%= text_field_tag :search, params[:search], :id => 'search-box' %>
    <%= submit_tag ".", :name => nil, :id => 'search-button' %>
  </div>
</div>
<div id="users"><%= render 'users' %></div>
<% end %>
