<% title 'Members' %>
<% css 'users/index' %>

<%= form_tag users_path, :method => :get, :id => "users_search" do %>
<div id="search-container">
  <div>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag ">", :name => nil %>
  </div>
</div>
<div id="users"><%= render 'users' %></div>
<% end %>
