<% if current_user %>
  <div id="control-panel">
    <div class="tabs">
      <div class="tab user first" id="user-tab" ref="#user-cpanel"></div>
      <% if current_user.admin? %>
        <div class="tab admin last" id="admin-tab" ref="#admin-cpanel"></div>
      <% end %>
    </div>
    <div class="cpanels">
      <% if current_user.admin? and content_for? :admin_control_panel %>
        <div class="cpanel admin" id="admin-cpanel">
          <div class="content">
            <%= yield(:admin_control_panel) %>
          </div>
          <div class="close">Close</div>
        </div>
      <% end %>
      <div class="cpanel user" id="user-cpanel">
        <div class="content">
          <%= link_to 'Profile', user_path(current_user) %>
          <%= yield(:user_control_panel) %>
        </div>
        <div class="close">Close</div>
      </div>
    </div>
  </div>
<% end %>
