<div id="footer">
  <a href="http://www.thezeitgeistmovement.com">Zeitgeist Movement</a> |
  <a href="http://www.thevenusproject.com">Venus Project</a><br />
  <a href="http://www.zmdev.net">Developers</a>
</div>
