<div id="footer" class="container_24">
  <ul class="first">
    <li><a href="http://www.thezeitgeistmovement.com">Zeitgeist Movement</a></li>
    <li><a href="http://www.thevenusproject.com">Venus Project</a></li>
  </ul>
  <ul class="last">
    <li><a href="http://www.zmdev.net">Developers</a></li>
  </ul>
</div>
