<div id="header">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Chapters', chapters_path %></li>
    <li><%= link_to 'Members', users_path %></li>
  </ul>
  <ul class="auth">
  </ul>
</div>
