@import "compass/css3";
@import "compass/utilities/lists";
@import "partials/nav";
@import "partials/forms";
@import "partials/widgets";

$anchor_color: #4183C4;

a {
  text-decoration: none;
  color: $anchor_color;
  &:hover { text-decoration: underline; }
  &:visited { color: $anchor_color; }
}

#body {
  overflow:hidden;
  margin:10px auto;
  min-height:600px;
  height: auto !important;
}

#footer {
  background:#555;
  @include box-shadow(#ccc, 0, 1px, 0, 0, inset);
  border: { top: 1px solid #000; bottom: 1px solid #000; }
  font-size: 14px;
  text: {
    shadow: 0 -1px #000;
    align: center;
  }
  ul {
    @include horizontal-list;
    margin:10px auto;
    text-align:center;
    width:960px;
    li {
      float:none;
    }
  }
  li,
  li a {
    color: #FFF;
    padding: 4px;
    text-decoration: none;
  }
}

#sidebar {
  section {
    margin: 0 10px 20px;
    h1 {
      text-align: center;
      border-bottom: 1px solid #DDD;
      color: #666;
      margin: 0;
    }
    ul {
      @include vert-list;
      li:hover a{
         border:none;
         position:relative;
         padding:5px;
         white-space: nowrap;
         z-index:999;
      }
    }
  }
}

$flash_red_bg: #FCC;
$flash_red_border: $flash_red_bg - #277;
$flash_green_bg: #CFC;
$flash_green_border: $flash_green_bg - #727;

.flash {
  padding: 5px 8px;
  margin: 10px 0;
  .close {
    float:right;
    &:hover { cursor: pointer; }
  }
  &.notice, &.success {
    background-color: $flash_green_bg;
    border: 1px solid $flash_green_border;
    .close:hover { background-color: $flash_green_border; }
  }
  &.error, &.alert {
    background-color: $flash_red_bg;
    border: 1px solid $flash_red_border;
    .close:hover { background-color: $flash_red_border; }
  }
}

.pagehead {
  h1 {
    color: #495961;
    font-size: 20px;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    margin: 0 0 10px;
    &.avatared {
      .tooltipped { display: inline-block; }
      img {
        border: 1px solid #DDD;
        margin-right: 5px;
        padding: 2px;
        vertical-align: middle;
      }
    }
    em {
      color: #99A7AF;
      font-style: normal;
      font-weight: normal;
    }
  }
  ul.actions {
    float:right;
    position: relative;
    top: -45px;
    right: 0px;
    list-style: none;
    li {
      color: #333;
      display: inline;
      font-size: 12px;
      font-weight: bold;
      margin: 0 0 0 5px;
      &.text {
        padding: 0 5px;
      }
    }
  }
  &.userpage {
    h1 {
      font-size: 30px;
      font-weight: bold;
      height: 54px;
      line-height: 54px;
      margin: 0;
    }
  }
}
