<% title @page.title %>
<% page_class @page.layout %>

<%= content_for :admin_control_panel do %>
  <li><%= link_to "Edit #{@page.title}", send("edit_#{@page.uri}_path") %></li>
<% end %>
  
<div class="<%= @page.uri %>">
  <%=raw @page.content %>
</div>
