<% title(@page.title, true) %>
<% css "pages/#{@page.uri}" %>

<%= content_for :admin_control_panel do %>
  <%= link_to "Edit #{@page.title}", send("edit_#{@page.uri}_path"), :class => 'medium button' %>
<% end %>
  
<div class="<%= @page.uri %>">
  <%=raw @page.content %>
</div>
