<div>
  <% name = truncate chapter.name, :length => 18 %>
  <h3><%= link_to name, chapter_path(chapter.name) %></h3>
  <span class="info">
    <%= truncate chapter.geographic_location.self_and_parent_name, :length => 35 %><br />
    <%= pluralize chapter.users.count, 'Member' %>
  </span>
</div>
