<div class="chapter">
  <% region = truncate chapter.region, :length => 18 %>
  <h3><%= link_to region, chapter_path(chapter) %></h3>
  <h5><%= truncate chapter.country.first.name, :length => 35 %></h5>
  <% if not chapter.country.first.languages.blank? %>
    <h5><%= chapter.country.first.languages %></h5>
  <% else %>
    <h5>No Language Info<h5>
  <% end %>
  <h5>Members: <%= chapter.members_count %></h5>
</div>
