<div class="chapter-editor">
  <%= button_to "Manage Chapter", edit_chapter_path(@chapter), :method => :get %>
  <%= button_to "Manage External URLs", chapter_external_urls_path(:chapter_id => @chapter.id), :method => :get  %>
</div>
