<div class="chapter">
  <h2><%= link_to chapter.region, chapter_path(chapter) %></h2>
  <table>
    <tbody>
      <tr>
        <td>
          <h5>Earth</h5>
          <h5><%= chapter.language %></h5>
          <h5>Members: 9999</h5>
          <div class="placeholder2"></div>
          <div class="placeholder2"></div>
        </td>
        <td>
          <div class="placeholder1"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
