<% title 'Edit Chapter' %>
<% page_class 'form' %>
<% page_head_class 'form' %>

<%= content_for :page_head do %>
  <h1>Edit Chapter<em>(<%= @chapter.name %>)</em></h1>
<% end %>

<%= render 'form' %>
