<% title 'Chapters' %>
<% css 'chapters/index' %>

<%= form_tag chapters_path, :method => :get, :id => "chapters_search" do %>
  <div id="search-container">
    <div>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag ">", :name => nil %>
    </div>
  </div>
  <div id="chapters"><%= render 'chapters' %></div>
<% end %>
