<% title 'Chapters' %>
<% css 'chapters/index' %>

<%= form_tag chapters_path, :method => :get, :id => "chapters_search" do %>
<div id="header">
  <div id="search">
    <%= text_field_tag :search, params[:search],:id => 'search-box' %>
    <%= submit_tag "›", :name => nil,:id => 'search-button' %>
  </div>
</div>
<div id="chapters"><%= render 'chapters' %></div>
<% end %>
