<% title 'Chapters' %>
<% css 'chapters/index' %>

<%= form_tag search_chapters_path, :method => :get do %>
  <p>
    <%= text_field_tag :search_name, params[:search_name]  %>
    <%= submit_tag "Search" %>
  </p>
  <div id="chapters"><%= render 'chapters' %></div>
<% end %>
