<% title 'Update Member' %>
<% js 'dynamic_chapters' %>

<h1><%= @member.name %></h1>
<div class="member-edit">
  <%= form_for @member do |f| %>
    <%= render :partial => '/shared/error_messages', :locals => {:object => @member} %>
    <%= render :partial => '/shared/forms/edit_member_form_fields', :locals => {:f => f, :submit => "Update Member", :member => @member} %>
  <% end %>
</div>
